.vscode/
data/
gpt2_124M.bin
gpt2_124M_debug_state.bin
.suo
*.user
*.sln.cache
*.userprefs
*.pidb
*.ide
*.vspscc
*.vssscc
*.vsscc
*.vsix
*.vsixmanifest
*.vstemplate
Browse.*
*.exe
*.log
*.tlog
*.lastbuildstate
*.cache
*.db
*.pidb
*.pdb
*.obj
*.recipe
*.lib
*.exp
*.ipch
*.ilk
*.idb
Solution.VC.*
*.deps
*.bin
*.FileListAbsolute.txt
DocumentLayout.*
*.vsidx